<h1>Listing projects</h1>

<hr />

<% @projects.each do |p| %>
  <div>
    <h4> Default ? </h4>
    <%= p.p_default %>
      <br>
    <h4> 
    <%= link_to p.p_title, p %>
    </h4>
    <%= p.p_description %>
  </div>
  <br>
<div>
<!--   <%= link_to 'Show', p %> -->
  <%= link_to 'Edit', edit_project_path(p) %>
  <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

  <hr />

<% end %>


<br>

<%= link_to 'Make Something', new_project_path %>

