<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Give us an update" %><br>
    <%= f.text_area :u_text %>
  </div>


  <!-- Hide Project ID field -->
 <!--  <% if @project.nil? %>    
    <div class="field">
      <%= f.label :project_id %><br>
      <%= f.text_field :project_id %>
    </div>
  <% else %> -->

    <div> <%= f.hidden_field :project_id, value: @project.id %> </div>

<!-- <% end %> -->

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>