<p id="notice"><%= notice %></p>

<p>
  <strong>U text:</strong>
  <%= @update.u_text %>
</p>

<p>
  <strong>Project:</strong>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<% if @update.project.nil? %>
<%= link_to 'Back', updates_path %>
<% else %>
<%= link_to 'Back', @update.project %>
<% end %>
